.socialMediaIcons{
    cursor: pointer;
    width: 100%;
    height: 1.3rem;
    display: flex;
    gap: 1.33rem;
    justify-content: end;

}
@media screen and (max-width:1180px) {
    .socialMediaIcons{
        display: none;
    }
}