.appPromotion{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.57rem;
    font-size: 14px;
    font-weight: 300;
    color: white;

}
.icons{
    display: flex;
    gap: .6rem;
}

@media screen and (max-width:1080px) {
    .appPromotion{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
}