.bookCarMain{
    width: 100%;
    padding: 36px 5.63%;
    border-radius: 16px;
    background-image: url('../../../../../public/icons/bookCabBg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
}

 .bookCarMain .chat{
    border: none;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 48px;
    height: 45px;
    margin-right: -64px;
    position: absolute;
    border-radius: 50% 0 0 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    justify-content: center;
    right: 0;
}
 .bookCarMain .chat:hover{
    transform: scale(1.07);
}
 .bookCarMain .call{
    margin-top: -49px;
}
 .bookCarMain .bot{
    margin-top: 49px;
}

@media screen and (max-width:1080px) {
    .bookCarMain > :not(:last-child,  .chat) {
        display: none;
    }
    .bookCarMain .chat{
        margin-right: -32px !important;
    }
}
@media screen and (max-width: 800px) {
    .bookCarMain .chat {
      margin-right: -1.33rem;
    }
  }