
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin-right: 5.33rem;
  margin-left: 5.33rem;
  margin-top: 15px;
}

@media screen and (max-width: 1260px) {
  .main {
    margin-right: 2.67rem;
    margin-left: 2.67rem;
  }
}

